# The directory Mix will write compiled artifacts to.
cards/_build/

# If you run "mix test --cover", coverage assets end up here.
cards/cover/

# The directory Mix downloads your dependencies sources to.
cards/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
cards/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
cards/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
cards/erl_crash.dump

cards/.elixir_ls

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
./cards/cards-*.tar

